
{% extends 'base.html' %}
{% block title %} 'My Login Page' {% endblock %}
{% block navbar %}{% endblock %}

{% block body %}
      <!-- Custom styles for this template -->
 
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


	<div class="container">

      <form class="form-signin" role="form"  method = "POST" action = '/login' id = "login_form ">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="username" name = "username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" name ="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/lib/bootstrap.js"></script>
    
	 
{% endblock %}


