<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Customer Landing Page</title>

	<meta charset="UTF-8">
	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

	<link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/lib/bootstrap-responsive.css">
    

      <!-- Custom styles for this template -->
    

</head>
<body>






<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.js"></script>	
</body>
</html>