{% extends 'base.html' %}
{% block title %} 'EMA :- Subscriber Management View' {% endblock %}

{%block headers%}
{% endblock %}

{% block body %}




    <!-- Collect the nav links, forms, and other content for toggling -->





        <div>


               
        
        <!-- </bootstrap> -->
        </div>


        
        <!-- </bootstrap>  -->
<script language="JavaScript" type="text/javascript" src="/static/js/lib/jquery-1.10.2.js"> </script>
<script language="JavaScript" type="text/javascript" src="/static/js/lib/jquery-ui-1.10.4.custom.min.js"> </script>




<!-- 
<script  language="JavaScript" type="text/javascript" >
$(function() {
$( "#dialog" ).dialog();
});
</script>
 -->
{% endblock %}