{% extends 'base.html' %}
{% block title %} 'EMA :- Subscriber Management View' {% endblock %}

{%block headers%}
{% endblock %}

{% block body %}




    <!-- Collect the nav links, forms, and other content for toggling -->


<h3>
<div>
  {% if sub: %}
   <!-- Display if the Subscriber searched for does not exist -->

<div class = "row">
  <div class="col-sm-12">
    <p class="text-center"> Subscriber       {{sub}}</p>    
  </div>
</div>

   
    
<div class ='row'>
    <div class="col-sm-4">
        <p class="text-center"> {{mesg}}</p>    
    </div>
    <div class="col-sm-8"> 
    </div>
</div>

<div class = 'row'>
    <div class="col-sm-2">
        <p class="text-left"> </p>    
    </div>
    <div class="col-sm-6">
        <p class="text-left">Do you wish to Create this Subscriber {{sub}} ?</p>  
    </div>
    <div class="col-sm-4"> 
    </div>
</div>

<div class = "row">
  <div class="col-sm-12"> </p> </div>
</div>

<div class = 'row'>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Remote Worker/ Pilot 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ">
                <li><a href="/CreatePilot/{{sub}}">Pilot Number for Registered PBX</a></li>
                <li><a href="/CreateRemoteWorker/{{sub}}">Remote Worker Subscriber</a></li>
            </ul>
        </div>        
    </div>
    <div class="col-sm-3">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Create Non-Registered Range
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/CreateRangeNR/{{sub}}/10">Non-Registered Range 10</a></li>
                <li><a href="/CreateRangeNR/{{sub}}/100">Non-Registered Range 100</a></li>
                <li><a href="/CreateRangeNR/{{sub}}/1000">Non-Registered Range 1000</a></li>
                <li><a href="/CreateRangeNR/{{sub}}/10000">Non-Registered Range 10000</a></li>
            </ul>

        </div>        
    </div>
    <div class="col-sm-3">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Hosted Office
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ">
                <form class="navbar-form navbar-right" role="form" action="/CreateHostedOffice/{{sub}}" method="POST">
                    <button type="submit" class="btn btn-default">Create Hosted Office </button>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter HO Password" name = "pw">
                    </div>
                </form>
            </ul>
        </div>        
    </div>
    <div class="col-sm-2">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Create Registered Range
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/CreateRangeR/{{sub}}/10">Registered Range 10</a></li>
                <li><a href="/CreateRangeR/{{sub}}/100">Registered Range 100</a></li>
                <li><a href="/CreateRangeR/{{sub}}/1000">Registered Range 1000</a></li>
                <li><a href="/CreateRangeR/{{sub}}/10000">Registered Range 10000</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>
                      
        

  
  


  {% endif %}

    {% if deletemesg: %}
     <!-- Display is last action was a successful Delete -->

<div class = "row">
    <div class="col-sm-12">
        <p class="text-center"> You have requested Subscriber    {{deletesub}} be deleted.</p>  
        </p>
        <p class="text-center"> {{deletemesg}}</p>    
    </div>
</div>


    {% endif %}
    
    {% if createmesg: %} 
     <!-- Display if the last action was a successful Create -->

<div class = "row">
    <div class="col-sm-12">
        <p class="text-center"> Subscriber     {{newsub}}</p>            
        <p class="text-center"> {{createmesg}}</p>                   
    </div>
</div>

    {% endif %}
    
    {% if password: %} 
    <p class="text-center"> Please note the password           {{password}}</p>      
    {% endif %}

    {% if existingsub: %} 
     <!-- Display if the last action was a successful Create -->

<div class = "row">
    <div class="col-sm-12">
        <p class="text-center"> Subscriber     {{existingsub}}</p>   
        <p class="text-center"> {{mesg}}</p>                   
    </div>
</div>



    {% endif %}
<!-- </bootstrap> -->
</div>
</h3>

        
        <!-- </bootstrap>  -->
<script language="JavaScript" type="text/javascript" src="/static/js/lib/jquery-1.10.2.js"> </script>
<script language="JavaScript" type="text/javascript" src="/static/js/lib/jquery-ui-1.10.4.custom.min.js"> </script>




<!-- 
<script  language="JavaScript" type="text/javascript" >
$(function() {
$( "#dialog" ).dialog();
});
</script>
 -->
{% endblock %}